/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.bg-violet {
  background-color: #8800a1;
}

.text-violet {
  color: #8800a1;
}

.btn-outline-violet {
  border: solid #8800a1;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
  border-color: #8800a1;
  color: #8800a1;
}

.btn-outline-violet:hover {
  background-color: #8800a1;
  color: white;
}
