/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.bg-violet {
  background-color: #8800a1;
}

.text-violet {
  color: #8800a1;
}
